body
	{margin:0;
	padding: 0;
	font-family: Open sans, sans-serif;}

/* nav  */

.nav 
	{position: sticky;
	display: inline;}

.nav-logo
	{display: inline;
	margin-left:5rem;}

.right-nav
	{list-style-type: none;
	display: inline-block;
	float: right;
	margin-left: 2rem;
	padding-right:120px;
	padding-left:2rem;}

.tuitt-button

	{background-color: #c2195b;
	border-color: transparent;
	border-radius: 80px;
	color:white; 
	padding: 0.60rem;
	font-size: 14px;
	font-weight: bold;
	margin-right: 2rem;}

#bg-image
	{background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height:38vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	color: white;}

.front-bg
	{background-color: black;
	opacity:60%;
	float: right;
	padding: 3.3%;
	padding-top: inherit;
	padding-bottom: 4.5vh;
	position: relative;}

.title 
	{text-align: right;
	font-family: 'Zilla Slab';
	font-size: 48px;
	font-weight: bolder;
	margin-top: 0px;
	margin-right: 6rem;
	margin-left: 6rem;
	margin-bottom:15px;
	width: 40%;
	float: right;
	padding-left: 3rem;}

.subtitle 

	{text-align: right;
	font-size: 22px;
	font-weight: normal;
	margin-right: 6rem;
	margin-left: 10rem;
	margin-top: inherit;
	width: 30%;
	float: right;}

.apply-button

	{background-color: #c2195b;
	border-color: transparent;
	border-radius: 80px;
	color:white; 
	border: 15px;
	font-size: 16px;
	font-weight: bold;
	float: right;
	width: 10%; 
	padding: 10px;
	text-align: center;
	margin-left:40rem;
	margin-right:100px;
	position:relative;}

.title-2
	{text-align: center;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Zilla Slab';
	margin-top: 70px;
	margin-left: 40px;}

.intro-description

	{text-align: left;
	width: 60%;
	margin-top: 5rem;
	margin-left: 20rem;}

.pre-footer
	{background-color: #f7fbfb;}

.prefooter-description

	{text-align: left;
	width: 60%;
	margin-left: 20rem;
	margin-top: 0px;}

.book-button
	{background-color: #336589;
	border-color: transparent;
	border-radius: 80px;
	color:white; 
	border: 15px;
	font-size: 16px;
	font-weight: bold;
	float: center;
	width: 12%; 
	height: 40px;
	padding: 10px;
	text-align: center;
	margin-left: 47rem;
	margin-bottom: 1rem;}


.footer

	{float: center; 
	text-align: center;
	margin-left: 1rem;}

	
 
